@font-face {
  font-family: "Source Sans Pro";
  src: url(font/SourceSansPro-Light.eot);
  src: url(font/SourceSansPro-Light.eot) format("embedded-opentype"),
    url(font/SourceSansPro-Light.woff2) format("woff2"),
    url(font/SourceSansPro-Light.woff) format("woff"),
    url(font/SourceSansPro-Light.ttf) format("truetype"),
    url(font/SourceSansPro-Light.svg) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-weight: bold;
}
.container{
  width: 100vw;
  height: 100vh;
  background: #db4437;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.main-box {
  width: 430px;
  height: 530px;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.main-box h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.inputbox {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.inputbox input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid #c2c2c2;
  font-size: 18px;
  padding: 5px;
}
.inputbox label {
  position: absolute;
  top: 20%;
  left: 5px;
  pointer-events: none;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.3s ease;
}
.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
  position: absolute;
  top: -30%;
  left: 3px;
  font-size: 16px;
  color: #009aff;
}
.inputbox input:focus {
  border-color: #009aff;
}
form button {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background: #009aff;
  background-size: 130%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.5s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
form button:hover {
  background: #0073ff;
}
.or {
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
  color: #3d3d3d;
}
.btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-box button {
  width: 140px;
  height: 35px;
  margin: 5px;
  border-radius: 3px;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.main-box .btn-box button i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.btn-box .facebook {
  color: #1877f2;
}
.btn-box .google {
  color: #db4437;
}
.btn-box .facebook:hover {
  color: #ffffff;
  background: #1877f2;
  border: none;
}
.btn-box .google:hover {
  color: #ffffff;
  background: #db4437;
  border: none;
}

.main-box .remember {
  text-align: center;
  margin-top: 40px;
  color: #3d3d3d;
}
.main-box .remember a {
  text-decoration: none;
  color: #009aff;
}
